h1 {
  padding-top: 100px;
}

#info, .modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

#info div {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    margin-top: auto;
  }
}

#separator {
  height: 2px;
  background-color: var(--color-primary);
}

section {
  margin: 50px 0 100px 0;

  & > h2:first-child {
    margin-bottom: 16px;
  }
}

span {
  color: var(--color-secondary);
}
